---
    name: CI
    
    on:
      push:
        branches: [ main ]
      pull_request:
        branches: [ main ]
    
    permissions:
      contents: read
    
    jobs:
      ci:
        name: Run CI
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    
          - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
            with:
              node-version: 20
              cache: npm
    
          - run: npm install
    
          - run: node generator.js
